.NavbarItems {
  background: linear-gradient(90deg, rgb(128, 125, 153) 0%, rgb(241, 238, 232));
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
}

.fa-warehouse {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: #ffffff;
}
.nav-title {
  color: #ffffff;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
}
