.App {
  width: 100vw;
  height: 100vw;
}
.body {
  margin: 0;
  padding: 0;
}

.sidebar-cat {
  float: left;
  width: 20%;
  height: 480px;
  border-radius: 12px;
  margin-top: 2.5%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 8px;
  background: rgb(213, 223, 222);
}
.main-container {
  float: right;
  width: 78%;
  height: 100%;
  background: rgb(253, 251, 251);
  padding: 12px;
  border-radius: 4px;
}
